{% extends 'base.html.twig' %}

{% block body %}

    <h1>Bienvenue sur ce blog !</h1>

    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Pariatur ipsa provident incidunt. Dicta in, at sit mollitia repellat nostrum libero iure quasi recusandae iusto minima, ratione doloribus sint odio fugit! A debitis quibusdam fugiat expedita vero sapiente. Optio, aspernatur, laudantium.</p>

    <p>Voluptatem sequi ipsum dolorem vel culpa earum eos amet maxime ipsa quaerat consequatur dolor quam consectetur veniam neque explicabo doloribus, voluptate esse expedita. Dignissimos quod voluptas repudiandae deleniti, architecto, natus ipsum cumque recusandae iusto, accusantium asperiores tenetur alias? Explicabo, perferendis.</p>

{% endblock %}