{% extends 'base.html.twig' %}

{% block body %}

    <article>
        <h2>Titre de l'article</h2>
        <div class="metadata">Ecrit le 28/02/2018 à 05:30 dans la catégorie Voyage</div>
        <div class="content">
            <img src="http://placehold.it/960x450" alt="">
            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Nulla placeat error sunt, omnis officia corrupti!</p>
            <p>Quod debitis officia similique architecto at, exercitationem atque libero reprehenderit esse minus eaque, quis odit!</p>
            <hr>
            <p>Lorem ipsum, dolor sit amet consectetur adipisicing elit. Distinctio, assumenda laborum id nostrum nihil natus fugiat, veniam mollitia harum soluta quae perferendis porro voluptatum incidunt aliquam illo. Ipsa fuga possimus laborum tenetur cum nihil dolorem, aliquid deserunt molestias temporibus, ipsam magnam, soluta totam! Id iste, voluptatem cum autem illo quod?</p>
            <p>Inventore voluptas distinctio ad sunt tenetur magnam illum veritatis fuga repellat? Atque necessitatibus voluptate repudiandae expedita nisi, eligendi impedit incidunt assumenda rem alias at reprehenderit facere! Illum deserunt repellendus commodi ipsum debitis quisquam, laborum eius eos itaque rem. Debitis atque tempora possimus eveniet nostrum voluptate incidunt corrupti reiciendis! Deleniti, corporis.</p>
         </div>
    </article>  

{% endblock %}